<div class="list-card" style="background-image: url('https://images.unsplash.com/photo-1589569334232-fdc917c38226?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTU0fHxtb3ZpZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60')">
  <h2><strong><%= link_to list.name, list_path(list) %></strong></h2>
</div>
