<div class="list-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.key, height: 300, crop: :fill %>')">
  <h2><strong><%= link_to list.name, list_path(list) %></strong></h2>
</div>
